{{ $headline := .Get "headline" }}
{{ $sub_headline := .Get "sub_headline" }}
{{ $primary_button_text := .Get "primary_button_text" }}
{{ $primary_button_url := .Get "primary_button_url" }}
{{ $secondary_button_text := .Get "secondary_button_text" }}
{{ $secondary_button_url := .Get "secondary_button_url" }}
{{ $hero_image := .Get "hero_image" }}
{{ $hero_image_alt := .Get "hero_image_alt" | default "Illustration" }}
{{ $background_image := .Get "background_image" }}
{{ $gradient_from := .Get "gradient-from" }}
{{ $gradient_to := .Get "gradient-to" }}
{{ $gradient_angle := .Get "gradient-angle" | default "180" }}

{{ $params := dict
    "headline" $headline
    "sub_headline" $sub_headline
    "primary_button_text" $primary_button_text
    "primary_button_url" $primary_button_url
    "secondary_button_text" $secondary_button_text
    "secondary_button_url" $secondary_button_url
    "hero_image" $hero_image
    "hero_image_alt" $hero_image_alt
    "background_image" $background_image
    "gradient_from" $gradient_from
    "gradient_to" $gradient_to
    "gradient_angle" $gradient_angle
    "logos" .Page.Params.client_logos
}}

{{ partial "components/hero" $params }}
